/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', 'sans-serif';
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
:root {
/* Primary Color */
  --primary-color: hsl(75, 94%, 57%);

/* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);

  /* font-weights */
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-heavy: 700;
}
/* fonts */
@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-bottom: 0;
  background-color: var(--off-black);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
  max-width: 24rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--dark-grey);
}
.social-links-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2.5rem;
}
.social-links-img {
  width: 5.5rem;
  height:  5.5rem;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}
.social-links-title {
  font-size: 1.50rem;
  margin-bottom: 0.25rem;
  font-weight: var(--font-weight-heavy);
  color: var(--white);
}
.social-links-location {
  font-size: .875rem;
  margin-bottom: 1.5rem;
  font-weight: var(--font-weight-heavy);
  color: var(--primary-color);
}
.social-links-description {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  font-weight: var(--font-weight-regular);
  white-space: nowrap;
  color: var(--white);
}
.social-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.social-link {
  list-style-type: none;
  padding: 0.75rem;
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 0.5rem;  
  width: 100%;  
  background-color: var(--grey); 
  transition: background-color 0.5s ease-in-out;
}
.social-link a {
  /* font-weight: var(--font-weight-bold); */
  text-decoration: none; 
  color: var(--white);  
}
.social-link:hover {
  background-color: var(--primary-color);
}
.social-link:hover a {
  color: var(--grey);
  font-weight: var(--font-weight-heavy);
}
footer {
    position: fixed;
    bottom: 0;
}
.attribution {
    color: var(--white);
    text-align: center;
    font-size: 0.688rem;
}

.attribution a{
    color: var(--primary-color);
}
@media (max-width: 400px) {
  body{
    max-width: 100%;
    width: auto;
    padding: 7.25rem 1.5rem;
  }
}